

{% extends "@base/outsideview.html" %}

{% block content %}

{% if type %}
	<div class="alert {% if type == 'success' %} alert-success {% else %} alert-danger {% endif %}" role="alert">
		{{msg}}
	</div>
{% endif %}

<form action="/signin" method="post">
	<div class="form-group pmd-textfield">
		<label for="email" class="control-label pmd-input-group-label">
			Email:
		</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
			<input type="email" id="email" name="email" class="form-control" />
		</div>
	</div>
  	<p class="help-block"> Only your email address is required to sign in. </p>

  	<input type="submit" class="btn pmd-btn-outline pmd-ripple-effect btn-primary" value="Sign In" />
  	<a href="{{ path_for( 'signup' ) }}" title="Sign Up" class=" button btn pmd-btn-outline pmd-ripple-effect btn-default">Sign Up</a>
</form>


{% endblock %}